/.idea/
/Libs/
/Nyoxides Card Archive.sln
/Nyoxides Card Archive.sln.DotSettings.user
/Nyoxides Card Archive/bin/
/Nyoxides Card Archive/obj/
/Nyoxides Card Archive/Properties/
/Nyoxides Card Archive/Nyoxides Card Archive.csproj
